<mat-nav-list>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>dashboard</mat-icon>
        Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/user">
        <mat-icon>person</mat-icon>
        User</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/candidate">
        <mat-icon>label</mat-icon>
        Candidate</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>